/* Container for the entire layout */
.dataquatall {
   display: flex;
   margin-top: 250px;
   margin-left: 100px;
}
.portfoliomutual-containerr {
    font-family: 'calibri';
    padding: 20px;
    color: #333;
    max-width:590px; /* Set a maximum width */
    margin: 0 auto; /* Center the container */
/* Add left margin to prevent overlap with sidebar */
    font-family: 'Calibri';
    margin-top: 50px;

    background-color: #f9f9f9;
    border: 1px solid #ddd; /* Light grey border */
    box-shadow: 0px 4px 6px rgba(183, 180, 180, 0.956); /* Soft shadow around the container */
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse; /* Reverse the container's content */

    height: 370px;
}
.chartmutual-containerr{
    height: 330px;
    width: 600px;
}

.time-rangemutual-selectorr {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    margin-left: 390px;
    
}