.news-item{
    cursor: pointer;
}
.news-listt {
    font-family: 'Calibri';
    max-width: 1200px;
   margin-left: 43px;
    padding: 20px;
  
  }
  
  .news-listt h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #24b676;
    margin-left: 42px;
  }
