/* Table Styling */
.earnings-insight-learn-tablepeer {
    width: 90%;
  
    margin-left: 83px;
    border-collapse: collapse;
}

.earnings-insight-learn-tablepeer th, 
.earnings-insight-learn-tablepeer td {
    padding: 8px;
    text-align: left;
    border: none;
    text-align: center;
}

.earnings-insight-learn-tablepeer td {
    border-bottom: 1px solid #ddd; /* Subtle line between rows */
    font-size: 15px; /* Adjust font size */
    color: #333; /* Text color for readability */
    text-align: center; /* Center-align text in cells */
    padding: 10px 20px; /* Add space inside cells */
}


.earnings-insight-learn-tablepeer th {
    background-color:  #24b676;
    font-weight: bold;
  
    
    font-size: 15px;
    color:white;
  
}

.earnings-insight-learn-tablepeer th:first-child {

    border-top-left-radius: 8px;
}

.earnings-insight-learn-tablepeer th:last-child {
    border-top-right-radius: 8px;
  
  
  
}

.earnings-insight-learn-tablepeer tr:nth-child(even) {
    background-color: rgba(224, 238, 235, 0.59);
}
